<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <nav class="bg-yellow-600 text-black-200">
        <div class="flex justify-between items-center px-4 py-4">
            <!-- Left side -->
            <a href="{% url 'myapp:index' %}" class="font-bold text-lg">Delicious</a>

            <!-- Right side -->
            <div class="flex space-x-6">
                {% if user.is_authenticated %}
                    <a href="{% url 'users:user_profile' %}" class="hover:underline">Logged In as {{ user.username }}</a>
                    <a href="{% url 'users:logout' %}" class="hover:underline">Logout</a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="hover:underline">Login</a>
                    <a href="{% url 'users:registration' %}" class="hover:underline">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>


    {% block body %}

    {% endblock %}
</body>
</html>